#second{
    background: white;
    border:white;
    border-radius: 1px;
    color: black;
}
#header{
   background: #ff1601c2!important; 
}
#second:focus{
    border: none;
}
.card{
    background: black!important;
    border: white!important;
}